# API
fastapi
uvicorn[standard]
SQLAlchemy
vt-py

# Dashboard
streamlit
requests
qrcode
Pillow
plotly

# Machine Learning
scikit-learn
pandas
joblib
numpy

# Nota: Instalar todo con: pip install -r requirements.txt
